[submodule "bench-lx"]
	path = bench-lx
	url = git@github.com:Barkhausen-Institut/bench-lx.git
[submodule "NRE"]
	path = NRE
	url = git@github.com:Barkhausen-Institut/NRE.git
[submodule "gem5-lx"]
	path = gem5-lx
	url = https://github.com/TUD-OS/gem5-dtu.git
[submodule "m3"]
	path = m3
	url = git@github.com:Barkhausen-Institut/M3.git
