#!/bin/sh
cat <<EOF
<config>
    <kernel args="kernel -f \$fs.path" />
    <dom>
        <app args="root">
            <app args="pipes" daemon="1">
                <serv name="pipes" />
            </app>
            <dom>
                <app args="m3fs mem \$fs.size" daemon="1">
                    <serv name="m3fs" />
                    <physmem addr="0" size="\$fs.size" />
                </app>
            </dom>
            <dom>
                <app args="pager \$fs.size">
                    <sess name="m3fs" />
                    <physmem addr="0" size="\$fs.size" perm="r" />
                    <pes type="core" />
                    <dom>
                        <app args="/bin/imgproc $M3_ARGS">
                            <mount fs="m3fs" path="/" />
                            <sess name="pipes" />
                            <pes type="$M3_ACCEL_TYPE" count="$M3_ACCEL_COUNT" />
                        </app>
                    </dom>
                </app>
            </dom>
        </app>
    </dom>
</config>
EOF
